body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42;
    font-weight: 400;
    background-color: #17191C;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    
}
a {
    color: inherit;
}
ul {
    padding: 0;
    margin:0;
}
ul li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
* {
    box-sizing: border-box;
}
b {
    color: black;
}
p {
    margin-top: 0;
}
img {
    display: block;
    max-width: 100%;
}
.container {
    margin: 0 auto;
    width: 1142px;
}
.wrapp {
    margin: 0;
    padding: 0;
}
.header-wrap {
    height: 120px;
    margin-bottom: 46px;
    display: flex;
    justify-content: space-between;
    /*margin-top: 18px;*/
    
}
.top-line {
    background: url("img/top-line.png");
    margin: 0;
    padding-bottom: 27px;
    padding-top: 18px;
}
.header {
    height: 120px;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}
.logo {
    display: block;
    /*position: absolute;*/
    top: 15px;
    left: 0;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
    margin-left: 45px;
    
    
}
.menu__list {
    display: flex;
}
.contacts {
    top: 19px;
    right: 0;
}
.menu__item {
    display: block;
    margin-right: 54px;
}
.menu__link {
    font-size: 14px;
    text-decoration: none;
}
.menu__link:hover {
    color: #FF3D00;
}
.contacts {
    font-style: normal;
    text-align: right;
    margin-top: 5px;
}
.contacts__phone {
    text-decoration: none;
    font-size: 26px;
}
.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
    margin-top: -6px;
}
.heading {
    width: 776px;
    height: 333px;
    margin: 0 auto 233px;
    text-align: center; 
}
.head {
    width: 1150px;
    height: 58px;
    margin: 0 auto 122px;
    text-align: left; 
}
.breadcrumbs__list {
    display: flex;
    align-items: center;
    /*margin-bottom: 27px;*/
}
.breadcrumbs__separator {
    margin-right: 5px;
}
.breadcrumbs__item {
    margin-right: 5px;
}
.breadcrumbs__link {
    color: #9A9A9A;
}
.breadcrumbs__item-active .breadcrumbs__link:hover {
    color: #FF3D00;
}
.breadcrumbs__item:after {
    content: "/";
    color: #9A9A9A;
}
.breadcrumbs__item:last-child::after {
    display: none;
}
.heading__title {
    font-size: 72px;
    font-weight: 800;
    line-height: 1.32;
    margin-bottom: 22px;
    text-transform: uppercase;
}
.head__title {
    font-size: 72px;
    font-weight: 800;
    line-height: 1.32;
    margin-bottom: 22px;
    text-transform: uppercase;
}
.heading__explanation {
    font-size: 18px;
    margin: 0 auto 56px;
    
}
.button {
    
    background-color: #FF5500;
    border-radius: 35px;
    padding: 18px 53px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.button:hover {
    background-color: #FF3D00;
}

.services {
    margin: 0 auto 174px;
    width: 1150px;
    
}
.service {
    display: flex;
    
}
.service__title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 45px;
}
.service__item {
    min-height: 476px;
    background: #fff;
    border-radius: 5px;
    /*margin-right: 24px;*/
    /*width: 362px;*/
    width: calc(100% / 3 - 21px);
    padding: 38px 17px;
}
.service__list {
    display: flex;
    justify-content: space-between;
}
.service__item:last-child {
    margin-right: 0;
}
.service__img {
    min-height: 84px;
    min-width: 84px;
    margin-bottom: 25px;
    margin-left: 7px;
}
.service__title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 14px;
    color: #000000;
}
.service__circs {
    display: flex;
    margin-bottom: 22px;

}
.service__article {
    margin-right: 54px;
    font-size: 16px;
    width: 146px;
    color: #666666;
}
.service__article:last-child {
    margin-right: 0;
}
.service__item:last-child {
    margin-right: 0;
}
.description {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 46px;
    line-height: 1.6;
    width: 306px;
}

.btn__color--white {
    background-color: white;
    border: solid #FF5500 2px;
    padding: 16px 53px;
    color: #FF5500;
}
.btn__color--white:hover {
    background-color: #FF5500;
    color: white;
}
.promotions {
    margin-bottom: 64px;
}
.promotions__section {
    margin-bottom: 57px;
}
.promo {
    display: flex;
}
.promo__item {
    position: relative;
    margin-right: 2%;
    min-height: 394px;
    flex: 1;
    
}
.promo__item:last-child {
    margin-right: 0;
}
.promo__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.promo__text {
    padding: 22px 32px;
    min-height: 140px;
    margin-top: 234px;
    z-index: 1;
    position: relative;
}
.promotions__title {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 49px;
}
.promo__date {
    margin: 0;
    margin-bottom: 14px;
}
.promo__date-two {
    margin-bottom: 15px;
}
.promo__description {
    font-size: 16px;
   margin: 0; 
}

.promo__two {
    margin-bottom: -9px;
}
.promo__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 2px;
}
.promo__title-two {
    margin-bottom: 13px;
}
.pager {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 82px;
}
.pager__display,.pager__list {
    vertical-align: middle;
    font-size: 16px;
}
.pager__list {
    display: flex;
}
.pager__display {
    margin-right: 26px;
}
.pager__item {
    vertical-align: middle;
}
.pager__item--active .pager__link {
    background-color: #FF5500;
}
.paginator__item--active .pager__link {
    background-color: #FF5500;
    color: #fff;
}
.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}
.paginator-color {
    color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
}
.about:before {
    content: "";
    width: 488px;
    height: 502px;
    background: url("img/cameraman.png") center center / cover no-repeat;
}
.about {
    display: flex;
}
.about__content {
    background: #fff;
    padding: 68px 83px;
    padding-bottom: 84px;
    padding-right: 200px;
    max-width: 785px;
    margin-left: -137px;
    margin-top: 97px;
    border-radius: 5px;
    margin-bottom: 99px;
    
}
.about__title {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 38px;
}
.about__description {
    margin-bottom: 58px;
    max-width: 501px;
}
.about__description p {
    color: #060606;
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 91px;
}
.about__description p:last-child {
    margin-bottom: 0;
}
.about__btn {
    padding: 18px 42px;
    
}
.footer {
    height: 120px;
    display: flex;
    justify-content: space-between;
}
.footer-wrap {
    background-color: #17191C;
    padding-top: 45px;
}
.footer__menu {
    margin-left: 50px;
}
.menu__list {
    display: flex;
}
.contacts__description {
    color: #9A9A9A;
    font-size: 11px;
}
.social {
    display: flex;
    margin-top: 5px;
    margin-left: -16px;
}
.social__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}
.social__item {
   /* display: inline-block;*/
    vertical-align: middle;
    margin-right: 8px;
}
.social__item:last-child {
    margin-right: 0;
}
.social__item--icon--teleg .social__link {
    background-image: url("img/telegram.svg");
}
.social__item--icon--teleg .social__link:hover {
    background-image: url("img/telegbr.svg");
}
.social__item--icon--vk .social__link {
    background-image: url("img/vk.svg");
}
.social__item--icon--vk .social__link:hover {
    background-image: url("img/vk-hover.svg");
}
.social__item--icon--face .social__link {
    background-image: url("img/f.svg");
}
.social__item--icon--face .social__link:hover {
    background-image: url("img/facebr.svg");
}
.social__item--icon--insta .social__link {
    background-image: url("img/in.svg");
}
.social__item--icon--insta .social__link:hover {
    background-image: url("img/instabr.svg");
}
.main-page-wrapper {
    background: url("img/hero.png") center top no-repeat, url("img/bottom-pic.png") center bottom 308px no-repeat;
}
/*.top-line {
    background: url("img/top-line.png");
}*/
.offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 14px;
}
.offers__container {
    display: flex;
    flex-direction: row;
    margin-bottom: 49px;
}
.maincontent {
    background-color: #fff;
    padding-top: 96px;
}
.offers__description {
    color: #060606;
    font-size: 16px;
    margin-bottom: 52px;
}
.offers__title {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 30px;
}
.offers__description p {
    color: #303030;
    font-size: 16px;
    line-height: 1.7;
    
}
.offers__content {
    margin: 9px 58px;
    margin-right: 0;
}
.partners {
    background: #F4F5F5;
    padding: 92px 0;
    padding-bottom: 0;
}
.partners__title {
    margin-bottom: 70px;
}
/*.partners__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}*/
.partners__list-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}
.partners__list-two {
    display: flex;
    justify-content: space-between;
    margin-bottom: 116px;
}
.partners__item {
    margin-right: 47px;
}
.partners__title h2 {
    font-size: 48px;
    font-weight: bold;
    color: #1A1B1E;
}

