.menu {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
    margin-left: 45px; 
}
.menu__list {
    display: flex;
}
.contacts {
    top: 19px;
    right: 0;
}
.menu__item {
    display: block;
    margin-right: 54px;
}
.menu__link {
    font-size: 14px;
    text-decoration: none;
}
.menu__link:hover {
    color: #FF3D00;
    transition: 1s;
}
.contacts {
    font-style: normal;
    text-align: right;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.contacts__phone {
    text-decoration: none;
    font-size: 26px;
}
.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
    margin-top: -6px;
}
.contacts__description {
    color: #9A9A9A;
    font-size: 11px;
}
.menu__list {
    display: flex;
}
.contacts__wrap {
    position: relative;
    display: inline-block;
}
.contacts__wrap:hover .contacts__tooltip {
    left: 0;
    opacity: 1;
}
.contacts__tooltip {
    position: absolute;
    background-color: #E7E7E7;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    color: #1E1F20;
    padding: 10px;
    width: 160px;
    height: 80px;
    top: 100%;
    left: -9999px;
    opacity: 0;
    transition: opacity 2s;
    margin-top: 10px;
}
.contacts__tooltip:before {
    content: "";
    display: block;
    height: 30px;
    left: 0;
    right: 0;
    top: -29px;
    position: absolute;
    
   
}
.contacts__tooltip::after {
    content: "";
    display: block;
    border: 14px solid transparent;
    width: 0px;
    height: 0px;
    border-bottom-color: #E7E7E7;
    border-top-width: 0;
    position: absolute;
    top: -14px;
    left: 108px;
}