.pager {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 82px;
}
.paginator-color {
    color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
}
.pager__display,.pager__list {
    vertical-align: middle;
    font-size: 16px;
}
.pager__list {
    display: flex;
}
.pager__display {
    margin-right: 26px;
}
.pager__item {
    vertical-align: middle;
}
.pager__item--active .pager__link:hover {
    background-color: #FF5500;
    transition: 1s;
}
.paginator__item--active .pager__link:hover {
    background-color: #FF5500;
    color: #fff;
    transition: 1s;
}
.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}
