.separator {
    background: #373737 url("../../img/party.png") right 20% bottom no-repeat;
    min-height: 365px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
}
.separator__content {
    max-width: 48%;
}
.separator__title {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 1.4;
}
.separator_discount {
    color: #FF5400;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1;
}